.blog-item {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.blog-item::after {
  content: '';
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.94, 1);
}

.blog-item:hover::after {
  opacity: 1;
}

.blog-item {
  transition: 300ms filter ease-in;
  width: 96%;
  opacity: 1;
  margin: 8px 20px 8px 10px;
  user-select: none;

  &:hover {
    opacity: 1;
    filter: brightness(1.1);
    transition: all 0.3s ease-out;
  }

  .feature-image-container {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    .feature-image {
      object-fit: cover;
      transition: filter 500ms;
      filter: brightness(0.85);
    }
    > .dark-wrapper {
      position: absolute;
      padding: 10px 20px;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.3);

      &:not(.top) {
        bottom: 0;
      }

      &.top {
        top: 0;
      }
    }
  }

  .blog-title {
    z-index: 1;
    font-size: 22px;
    text-decoration: none;
    font-weight: 300;
    line-height: 24px;
    bottom: 20px;
    color: white;
  }
  .blog-date {
    font-size: 10px;
    color: #ccc;
    line-height: 20px;
    display: inline-block;
  }

  .blog-location {
    margin-left: 20px;
    font-size: 10px;
    color: #ccc;
    line-height: 20px;
    display: inline-block;
  }
}
