
.login-dropdown {
  z-index: 9999;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -52%);
  width: 400px;
  height: 480px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    &:hover {
      cursor: pointer;
      color: #eee;
    }
  }
  .crop {
    max-height: 290px;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .background-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    opacity: 1;
  }
  .login-panel {
    padding: 10px 5%;
    text-align: center;
    .password,
    .username {
      text-align: center;
      display: block;
      margin: 0 auto 10px;
      width: 100%;
      padding: 3px 0;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid rgb(71, 16, 5);
      width: 70%;
    }
    .notice {
      color: #b9b9b9;
      font-weight: 100;
      font-size: 11px;
    }
    .login-button {
      border: white solid 1px;
      background-color: rgb(255, 115, 0);
      color: white;
      width: 70%;
      height: 30px;
      margin: 10px auto;
      &:hover {
        cursor: pointer;
        background-color: rgb(216, 86, 0);
      }
    }
  }
}
