.background-image-container {
  position: relative;
  img {
    height: 100%;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  .progressive-image {
    &.loading {
      opacity: 0.9;
      filter: blur(2px) grayscale(30%);
    }
    // transition: 0.2s -webkit-filter linear;
    opacity: 1;
    filter: none;
  }
}
