.quotes {
  width: 400px;
}

.blog-detail-header {
  margin-bottom: 20px;
  .title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
  }
  .date {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
    color: #902400;
  }
}
