.blog-post-page {
  color: rgba(0, 0, 0, 0.8);
  .normal-article {
    white-space: pre-line;
    max-width: 1200px;
  }
  .quote {
    font-style: italic;
    padding: 0 20px;
  }
  
  pre[class*='language-'] {
    width: 100%;
    border: none;
    max-width: 550px;
    margin-bottom: 1.45rem;
  }

  .blog-detail-header {
    margin-bottom: 20px;
    .title {
      font-size: 32px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.8);
      line-height: 34px;
      margin-left: -4.5%;
      width: 105%;
      margin-bottom: 5px;
    }
    .date {
      font-size: 12px;
      margin-top: 0px;
      display: inline-block;
      color: #902400;
    }
  }
}
