@font-face {
  font-family: 'Pragmatica';
  src: local('Pragmatica'), url(../assets/pragmatica.woff) format('woff'), url(../assets/pragmatica.ttf) format('truetype')
}

.image-viewer {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.new-image {
  max-width: 100%;
}
.not-me-text {
  position: absolute;
  font-family: 'Pragmatica', arial;
  width: 100%;
  font-size: 110px;
  line-height: 120px;
  margin-top: 50px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  color: rgba(236,12,35,0.8)
}

.not-me-container {
  position: relative;
  padding: 20px 0; 
}