@media only screen and (max-width: 480px) {
  .site-name {
      padding: 13px 1rem;
  }
  .template-wrapper {
    padding: 0px 1rem 1.45rem;
  }
  .login-dropdown {
      width: 90%;
      height: 55%;
  }
}
