.template-wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.airpod-modal {
  .ant-modal-body {
    padding-left: 0;
  }
  .anticon.anticon-check-circle {
    display: none;
  }
}

.progressive-image {
  height: calc(100% - 46px);
  width: 100%;
}

.background-image-container {
  width: 100%;
}

.local-video {
  width: 100%;
  display: inline-block;
}

.local-video-wrapper,
.remote-participant-wrapper {
  line-height: 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px -2px;
}

.local-video-wrapper {
  video {
    width: 100%;
  }
}

.remote-participant {
  display: inline-block;
  width: 100%;
  video {
    width: 100%;
  }
}

.chat {
  padding: 10px;
  position: relative;
}
