.template-wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}

.airpod-modal {
  .ant-modal-body {
    padding-left: 0;
  }
  .anticon.anticon-check-circle {
    display: none;
  }
}

.progressive-image {
  height: calc(100% - 46px);
  width: 100%;
}

.background-image-container {
  width: 100%;
}
