.nav-component {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: hsla(0, 0%, 98%, 0.9);
  backdrop-filter: blur(3px);
  height: 46px;
  &.overlay {
    position: absolute;
    width: 100%;
  }
  .nav-items {
    float: right;

    .nav-item {
      margin-left: 20px;
      line-height: 46px;
      text-decoration: none;
      color: rgb(121, 121, 121);
      font-size: 20px;
      color: #797979;
      font-weight: 200;
      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
  .wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0px 20px;
    height: 42px;
    .site-name {
      line-height: 42px;
      @media only screen and (max-width: 480px) {
        padding: 0;
      }
      .site-name-text {
        text-decoration: none;
        color: rgb(121, 121, 121);
        font-weight: 200;
      }
      display: inline-block;
      font-size: 22px;
    }
  }
}
