.join-container {
  position: relative;
  background-color: #bdbdbd24;

  .tool-bar {
    position: absolute;
    padding: 10px;
    text-align: right;
    bottom: 64px;
    left: 0px;
    z-index: 10;
  }

  .message-input {
    width: 100%;
    line-height: 24px;
    font-size: 24px;
    .ant-input {
      padding: 4px 20px;
      font-size: 24px;
      line-height: 24px;
      height: 64px;
    }
    .ant-input-search-button {
      width: 82px;
      height: 64px;
    }
  }

  .chat-room {
    height: calc(100vh - 110px);

    .message-container {
      height: calc(100% - 0px);
      overflow: scroll;
      padding: 0px 0 32px;

      .online-users-container {
        padding: 10px;
        text-align: center;

        .online-user {
          margin-right: 5px;
          border-radius: 2px;
          width: 20px;
          height: 20px;
          display: inline-block;
        }
      }

      .message {
        margin: 0 auto 18px;
        padding: 0 20px 0;
        max-width: 1200px;
        .event-message {
          color: #999;
          text-align: center;
          font-size: 12px;
        }
        &.self {
          text-align: right;
          .message-text {
            background-color: rgb(162, 231, 98);
          }
        }
        .user-profile {
          height: 32px;
          width: 32px;
          border-radius: 4px;
        }

        .message-text {
          font-size: 16px;
          margin: 0 10px;
          display: inline-block;
          background-color: #fff;
          padding: 7px 12px;
          max-width: calc(100% - 64px);
          color: #000;
          border-radius: 4px;
          vertical-align: top;
        }
      }
    }
  }
}
