* {
  margin: 0;
  padding: 0;
}

#baroque {
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  cursor: default;
  background: #b02e2e;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#main-layer {
  position: absolute;
}

/* time box */
#loader {
  position: absolute;
  font-weight: bold;
  width: 150px;
  color: #ffffff;
  font-size: 11px;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}