.header-login-button-component {
  float: right;
  color: #666;
  padding: 13px 16px;
  span {
    margin-left: 8px;
    font-size: 12px;
  }
  &:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .user-icon {
    border: 1px solid #666;
    border-radius: 100%;
    padding: 2px;
    width: 14px;
    height: 14px;
  }
}
