.blog-title {
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.blog-header {
    margin-bottom: 2px;
}

.blog-item {
    margin: 0 0 30px;
    .blog-date {
        font-size: 14px;
        margin-left: 10px;
        color: #902400;
    }
}

.blog-excerpt {
    
}